# Enable rewrite engine
RewriteEngine On

# Set default index files
DirectoryIndex Install_PrestaShop.html index.php

# Allow access to all files
Options +Indexes +FollowSymLinks
AllowOverride All
Require all granted

# PHP handling
AddType application/x-httpd-php .php .html
SetHandler application/x-httpd-php 